{# Template will be added as a block to ~/.ssh/config #}
{% for host in managed_node_list %}
Host {{ host.name }}
  Hostname localhost
  User ansible
  Port {{ host.ssh_port }}
  IdentityFile ~/.ssh/ansible-workshop-environment
  StrictHostKeyChecking no
{% endfor %}
